
#Body {
	margin: 0px;
	padding: 0px;
}

#Home-Header {
	background-color: #009883;
	padding-top: 1px;
}

#Home-Title {
	width: 600px;
	margin: 0px auto;
	font-size: 26pt;
}

#Home-Introduction {
	width: 1000px;
	margin: 0px;
	font-size: 15pt;
	margin-top: 40px;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
}

#MyBook {
	width: 1000px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

#AboutUs {
	width: 200px;
	border: 3px solid black;
	position: fixed;
	left: 1250px;
	top: 700px;
	background-color: #009883;
	border-radius: 30px;
	text-align: center;
}

.Home-Book {
	width: 300px;
	height: 300px;
}

.Book-Cover {
	width: 300px;
	height: 300px;
}

.Title {
	position: relative;
	bottom: 150px;
	left: 70px;
}

.Book-Open {
	margin: 0px auto;
	margin-top: 50px;
	width: 1000px;
	height: 700px;
	display: flex;
	border-radius: 20px;
}

.Topic {
	width: 500px;
	background-color: #009883;
	border: 3px solid black;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.Topic li:hover{
	background-color: #e3e3e3;
	border: none;
}
.Topic h1 {
	width: 250px;
	height: 100px;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
}

.Topic ul {
	width: 300px;
	list-style: none;
	margin:0px auto;
	margin-top: 20px;
	padding-left: 0px;
	color: white;
	height: 400px;
}

.Topic ul li {
	border: 3px solid white;
	border-radius: 30px;
	padding: 10px 10px 10px 40px;
	margin-bottom: 20px;
}

#Home-Link {
	margin-left: 10px;
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

#Arrow-Left {
	width: 70px;
	height: 70px;
	margin-bottom: 0px;
	position: relative;
	top: 20px;
	left:380px;
}

#Arrow-Right {
	width: 70px;
	height: 70px;
	position: relative;
	bottom: 18px;
	left: 40px;
}

.Container {
	width: 500px;
	background-color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
}

.Topic-Container {
	height: 600px;
	margin-right: 10px;
	padding: 20px 20px;
	text-align: justify;
}

.Topic-Container p {
	padding-left: 20px;
}

#About-Container {
	width: 80%;
	height: 600px;
	margin: 0px auto;
	border: 3px solid black;
	border-radius: 20px;
}

#About-Header {
	display: flex;
	padding-top: 0px;
	width: 100%;
	height: 80px;
	margin: 0px auto;
	background-color: #009883;
	border-radius: 15px;
}

#About-Header h1 {
	padding-top: 20px;
	margin-top: 0px;
	margin-left: 50px;
}

#OurProfile ul li {
	list-style: none;
	margin-left: 40px;
}

#About-Why {
	padding-left: 40px;
	padding-right: 40px;
	width: 80%;
	border: 1px solid black;
	margin: 0px auto
}

@media all and (min-width: 1000px) {
	.flexwrapper{display: flex; 
	width: 1000px; margin: auto;}
	.box {margin: 0px 10px;}
}

@media all and(max-width: 1000px) {
	#Home-Title {
		font-size: 16pt;
	}

	#Home-Introduction {
		width: 600px;
	}
}

@media all and (max-width: 600px) {
	.flexwrapper{display: block;}
	.box {margin: 10px 10px;}
}